body {
  margin: 0.25;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.pic-background {
  background-image: url("../Deps/rockyMountainNationalParkPanorama.jpg");
  background-size: 100% 100%;
  color:darkgray;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000;
}

.dark-background {
  background-color: darkslateblue;
}

.list-item {
  display: inline-block;
  margin: 2rem;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(75, 208, 212);
}

.columns {
  display: flex;
}

.column {
  float: left;
}

.button {
  margin: 3rem;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}