body {
  margin: 0.25;
  font-family: -apple-system, BlinkMacSystemFont, 'Cormorant Garamond','Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.pic-background {
  background-image: url("../Deps/rockyMountainNationalParkPanorama.jpg");
  background-size: 100% 100%;
  color:darkgray;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000;
}

.dark-background {
  background-color: darkslateblue;
}



.columns {
  display: flex;
  justify-content: center;
}

.column {
  float: left;
  margin: 1%;
}

.button {
  display: inline-block;
  margin: 2%;
  text-align: center;
}